<div class="container mt-5 border rounded">
  <h1>COMPONENT 03</h1>
  <p>component03 works!</p>

  <div>
    <div class="card-group mb-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Title</h4>
          <p class="card-text">Text</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Title</h4>
          <p class="card-text">Text</p>
        </div>
      </div>
    </div>
  </div>

</div>
