body{
  background-color: beige;
  margin-top: 100px;
}

.calcolatrice {

  margin: 0 auto;
  border-radius: 15px;
  padding: 15px;
  background-color: rgb(0, 0, 0);
  width: 230px;
}

.tasto {
  background-color:rgb(51, 51, 51);
  color: rgb(255, 255, 255);
  font-size: 22pt;
  border: none;
  border-radius: 100%;
  margin: 4px 2px;
  height: 50px;
  width: 50px;
}

.display {
  background: none;
  background-color:rgb(0, 0, 0);
  padding-top: 100px;
  margin-bottom: 10px;
  text-align: right;
  color: rgb(255, 255, 255);
  font-size: 45px;
  border: none;
  width: 220px;
  height: 70px;  
}

.operatore {
  background-color:rgb(254, 159, 10);
  color: rgb(255, 255, 255);
}

.zero {
  border-radius: 55px;
  padding-left: 64px;
  width: 108px;
}

.pro {
  background-color: rgb(165, 165, 165);
  color: rgb(0, 0, 0);
  font-size: 21px;
  font-weight: 600;
}

 /*
            ddddddd                                                            
            d:::::d                                                             
            d:::::d                                                             
            d:::::d                                                             
            d:::::d                                                              
    ddddddddd:::::d    ooooooooooo      mmmmmmm    mmmmmmm        eeeeeeeeeeee    
  dd::::::::::::::d  oo:::::::::::oo  mm:::::::m  m:::::::mm    ee::::::::::::ee  
 d::::::::::::::::d o:::::::::::::::o m::::::::::mm::::::::::m e::::::eeeee:::::ee
d:::::::ddddd:::::d o:::::ooooo:::::o m::::::::::::::::::::::m e::::::e     e:::::e
d::::::d    d:::::d o::::o     o::::o m:::::mmm::::::mmm:::::m e:::::::eeeee::::::e
d:::::d     d:::::d o::::o     o::::o m::::m   m::::m   m::::m e:::::::::::::::::e 
d:::::d     d:::::d o::::o     o::::o m::::m   m::::m   m::::m e::::::eeeeeeeeeee  
d:::::d     d:::::d o::::o     o::::o m::::m   m::::m   m::::m e:::::::e           
d::::::ddddd::::::d o:::::ooooo:::::o m::::m   m::::m   m::::m e::::::::e          
 d::::::::::::::::d  o:::::::::::::o  m::::m   m::::m   m::::m e::::::::eeeeeeee  
  d:::::::::ddd:::d  oo:::::::::::oo  m::::m   m::::m   m::::m  ee:::::::::::::e  
   ddddddddd   dddd    ooooooooooo    mmmmmm   mmmmmm   mmmmmm    eeeeeeeeeeeeee 
               
*/