<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="shortcut icon" href="../img/favicon.ico" />
    <title>Feedback - Epicode</title>
</head>

<body id="feedback">
    <header >
        <div>
            <a href="../../index.html"><img src="../img/epicode_logo.png" /></a>
        </div>
    </header>

    <main >
        <div class="centra">
            <h1>Tell us how it's going</h1>
            <p>From 0 to 10, how likely are you to recommend EPICODE to a friend or a colleague?</p>
        </div>

        <div class="centra">
            <ion-icon class="stella" name="star" id="1"
                onclick="change(['1']), changeRest(['2','3','4','5','6','7','8','9','10'])"></ion-icon>
            <ion-icon class="stella" name="star" id="2"
                onclick="change(['1','2']), changeRest(['3','4','5','6','7','8','9','10'])"></ion-icon>
            <ion-icon class="stella" name="star" id="3"
                onclick="change(['1','2','3']), changeRest(['4','5','6','7','8','9','10'])"></ion-icon>
            <ion-icon class="stella" name="star" id="4"
                onclick="change(['1','2','3','4']), changeRest(['5','6','7','8','9','10'])"></ion-icon>
            <ion-icon class="stella" name="star" id="5"
                onclick="change(['1','2','3','4','5']), changeRest(['6','7','8','9','10'])"></ion-icon>
            <ion-icon class="stella" name="star" id="6"
                onclick="change(['1','2','3','4','5','6']), changeRest(['7','8','9','10'])"></ion-icon>
            <ion-icon class="stella" name="star" id="7"
                onclick="change(['1','2','3','4','5','6','7']), changeRest(['8','9','10'])"></ion-icon>
            <ion-icon class="stella" name="star" id="8"
                onclick="change(['1','2','3','4','5','6','7','8']), changeRest(['9','10'])"></ion-icon>
            <ion-icon class="stella" name="star" id="9"
                onclick="change(['1','2','3','4','5','6','7','8','9'], changeRest(['10']))"></ion-icon>
            <ion-icon class="stella" name="star" id="10" onclick="change(['1','2','3','4','5','6','7','8','9','10'])">
            </ion-icon>
        </div>

        <div id="form" class="centra">
            <p>Leave us an open feedback about your experience so far</p>
            <form action="">
                <input type="text" placeholder="Write your comment here" />
                <input type="button" value="More info">
            </form>
        </div>
    </main>

    <script src="../js/feedback.js"></script>
</body>

</html>