@import "variabili";
@import "bottone";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Spectral&display=swap');

body {
    margin: 0;
    padding:0;
    width: 100%;
    background-color: $sfondoMain;
}

header {
    font-family: 'Roboto', sans-serif;
    background-color: $sfondoHeader;
    padding: 10px 60px;

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            width: 200px;
        }
    }

    ul {
        display: flex;
    }

    li {
        list-style: none;
    }

    a {
        padding: 0 50px;
        text-decoration: none;
        text-transform: uppercase;
        color: $coloreTesti;
    }

}

main {
    background-color: $sfondoMain;

    section {
        padding: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left {
            width: 70%;

            h1 {
                font-family: 'Roboto', sans-serif;
                font-size: 500%;
                text-transform: uppercase;
                text-align: start;
                color: $coloreTesti;
                text-shadow: 1px 1px 1px $ombra;
            }

            h2 {
                font-family: 'Roboto', sans-serif;
                font-size: 150%;
                color: $coloreTesti;
                margin-bottom: 60px;
            }

            .btn{
                margin: 20px;
            }

        }

        .right {
            width: 40%;

            img {
                -webkit-filter: invert(100%);
                width: 90%;
                float: right;
            }
        }
    }
}

footer{
    font-family: 'Roboto', sans-serif;
    background-color: $sfondoHeader;
    position: sticky;
    bottom: 0px;
    text-align: end;

    div{
        margin:0;
        height: 105px;
        color:$coloreTesti;
    }
}