@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Spectral:wght@200;400;600&display=swap');
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Spectral', serif; */

/* 
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------             HEADER
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------------------------------- 
*/

.header.active {
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    background-color: #fff
}

.header_btn.active {
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    background-color: #1a8917
}

.header {
    position: fixed;
    width: 100%;
    min-width: 361px;
    padding: 20px;
    z-index: 1;
    color: #191919;
    background-color: #ffc017;
    border-bottom: 1px solid #191919;
}

.header .container {
    margin: 0 13.5%;
}

.header_logo {
    margin-top: 4.5px;
    float: left;
}

.header_menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    clear: both;
}

.header_menu a {
    display: block;
    padding: 12px 15px 0px;
    color: #000;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.header_btn {
    float: right;
    margin: 0 50px 0 0;
    padding: 11px 16px;
    color: #fff;
    background-color: #191919;
    border-radius: 20px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

/* 
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------             HERO
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------------------------------- 
*/

.hero {
    position: relative;
    min-width: 361px;
    background-color: #ffc017;
    height: 530px;
    border-bottom: 1px solid #191919;
}

.hero .container {
    margin: 0 13.5%;
    height: 530px;
    border: 1px solid #00000000;
}

h1 {
    font-family: 'Spectral', serif;
    font-size: 6.0em;
    margin: 165px 0 35px 15px;
    font-weight: 600;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    margin: 0px 0 10px 15px;
}

.hero_btn {
    margin: 40px 0 20px 15px;
    padding: 10px 50px;
    background-color: #191919;
    border-radius: 50px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.hero_btn a{
    color:white;
    text-decoration: none;
}

/* .mArt{
    position:static;
    float:right;
} */

/* 
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------             TRENDING
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------------------------------- 
*/
section.trending {
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #9c9c9c;
    padding: 0 13.5%;
}

.trending h3{
    display: block;
    font-weight: 600;
    font-size: 14px;
    margin: 40px 0 0px 0 ;
    text-transform: uppercase; 
}

.trending .container{
    clear: both;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 15px 0;
    justify-content: space-between;
}

.trendArticle{
    min-width: 400px;
    max-width: 400px;
}

.num_trendArticle{
    float:left;
    align-content: center;
    margin: 0 20px 0 0;
    font-size: 2em;
    font-weight: 800;
    color:#e6e6e6;
}

.img_trendArticle{
    align-content: center;
    float:left;
    width: 25px;
    margin: 0 10px 0 0;
    border-radius: 100%;
}

.name_trendArticle{
    vertical-align: middle;
    margin-top: 5px;
    float:left;
}

.title_trendArticle{
    font-weight: 600;
    clear: both;
    margin-left: 55px;
}

.date_trendArticle{
    margin: 10px 0 20px 55px;
    color: #9c9c9c;
    font-size:12px;
}

/* 
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------             DISCOVER
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------------------------------- 
*/

aside.discover {
    font-family: 'Roboto', sans-serif;
    width: 30%;
    float:right;
    padding-right: 13.5%;
    position: sticky;
    top: 70px;
}

.discover h3{
    display: block;
    font-weight: 600;
    font-size: 14px;
    margin: 30px 0 0px 0 ;
    text-transform: uppercase; 
}

.discover .container{
    clear: both;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 15px 0;
    border-bottom: 1px solid #9c9c9c;
}

.discover button{
    border-style: none;
    padding: 10px;
    margin: 0px 5px 10px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    border-radius: 3px;
    color: #757575;
}

.discover .links {
    margin-top:40px;
}
.discover .links a{
    text-decoration: none;
    padding-right: 20px;
    color: #757575;
    font-size: 14px;
}

/* 
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------             ARTICLES
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------------------------------- 
*/

#layout {
    font-family: 'Roboto', sans-serif;
    padding: 30px 13.5%;
    width: 85%;
}

.user>img{
    width: 30px;
    border-radius: 100%;
}

#layout #left {
    width: 425px;
}

#layout article {
    margin-bottom: -80px;
    max-width:500px;
}

#layout article .titolo {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 10px 0;
}

#layout article .descrizione {
    font-size: 1rem;
    font-weight: 400;
    margin: 10px 0;
}

#layout article .stella {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

#layout article .date {
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 15px;
}

#layout article .cat {
    background-color: lightgray;
    padding: 6px;
    border-radius: 100px;
}

#layout .thumbnails {
    display: inline;
    position: relative;
    top: -130px;
    left:95%;
    width: 200px;
}

#layout .bookmark {
    width: 30px;
    display: inline;
    position: relative;
    top: -130px;
    left: 480px;
}


/* 
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------             MEDIA QUERY
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------------------------------- 
*/

@media only screen and (max-width: 460px) {
    .header .container {
        margin: 0 2%;
    }

    .hero{
        height: 600px;
    }
    .hero .container {
        margin: 0 2%;
        }

    h1 {
        font-size: 4em;
    }
}

@media only screen and (max-width: 600px) {
    .header .container {
        margin: 0 2%;
    }

    .header_menu {
        clear: none;
        float: right;
    }


    .header_menu li {
        float: left;
        display: none;
    }

    .hero .container {
        margin: 0 2%;
    }

    h1 {
        font-size: 4em;
    }

}

@media only screen and (min-width: 768px) {
    .header_menu {
        clear: none;
        float: right;
    }

    .header_menu li {
        float: left;
    }

    .trending .container{
        flex-wrap: wrap;
        flex-direction: row;
    }

}

@media only screen and (max-width: 900px) {
    .header_menu {
        clear: none;
        float: right;
    }
    .header .container {
        margin: 0 2%;
    }
    .hero .container {
        margin: 0 2%;
    }
    section .trending {
        padding: 0 500px;
    }

    .header_menu li {
        float: left;
    }

    .header_menu .a01 {
        display: none;
    }

    .header_menu .a02 {
        display: none;
    }

    .header_menu .a03 {
        display: none;
    }
    .discover .links {
        display:none;
    }
}