$grigio: rgb(188, 188, 188);
$red: red;
$antracite: rgb(18, 18, 18);
$antracite_alt: rgb(24, 24, 24);
$antracite_hover: rgb(52, 52, 52);

$verde_spotify: rgb(30, 215, 96);
$grigio_playlist_sidebar: #b3b3b3;
$grigio_playlist_home: #28282870;
$grigio_playlist_home-hover: #282828;
$grigio_riga_tabella_artisti_hover: #2a2a2a;