    .icon-home-side-hide,
    .icon-search-side-hide,
    .icon-library-side-hide {
        display: none;
    }

    #icon-home:hover,
    #icon-search:hover,
    #icon-library:hover {
        cursor: pointer;

        a {
            color: white;
        }

        .icon-home-side {
            display: none;
        }

        .icon-home-side-hide {
            display: inline;
        }
    }

    .icon-sidebar {
        cursor: pointer;
        height: 25px;

        &:hover {
            filter: brightness(1.4)
        }
    }

    #left {
        a {
            font-size: 1rem;
            font-weight: 500;
            color: $grigio_playlist_sidebar;
        }

        i {
            margin-right: 10px;
            color: $grigio;
            font-size: 15px;
            padding: 5px;
        }

        hr {
            color: gray;
        }

        li {
            padding-bottom: 10px;

            a {
                padding: 0;
            }

            img {
                height: 25px;
                margin-right: 10px;
            }
        }

        .logo {
            li {
                margin: 10px 0;

                &:hover {
                    cursor: pointer;

                    a {
                        color: white;
                    }

                    .cuore,
                    .podcast,
                    .piu {
                        filter: brightness(1.4);
                    }
                }
            }

            i {
                padding: 5px 7px;
                font-size: 12px;
                border-radius: 2px;
            }

            .cuore {
                color: #b2b2b2;
                background: linear-gradient(315deg, rgba(130, 153, 153, 1), rgba(55, 20, 169, 1));
            }

            .podcast {
                color: #149643;
                background-color: #004537;
            }

            .piu {
                font-size: 12px;
                color: black;
                background-color: $grigio;
            }
        }
    }

    #playlist {
        color: $grigio_playlist_sidebar;

        li:hover {
            cursor: pointer;
            color: white;
        }

        li a {
            padding: 0;
        }
    }