// #center {
//     background-color: #121212;
// }

.banner {
  display: flex;

  /*   @media screen and(max-width: 480px) {

            display: block;
        }*/
}

////inserisci le media query per il banner

.bottoni {
  //@media screen and(max-width: 480px) {
}

.play {
  font-size: 45px;

  /* @media screen and(max-width: 480px) {
            float: right
        }*/
}

/*@media screen and(max-width: 480px) {
      //  margin-bottom: 0;

    }*/

a {
  font-size: 30px;
  margin: 8px;
  padding: 15px;

  &:hover+.hide {
    display: inline;
    background-color: #121212;
    color: white;
    width: 50px;
  }

  /* @media screen and(max-width: 480px) {
            font-size: 20px;

        }*/
}

.puntini {
  display: none;

  /* @media screen and(max-width: 480px) {
            display: inline-block;
            font-size: 20px;
            margin-top: 15px;
            margin-left: 150px; leva pure la classe
        }*/
}

table {
  margin: 50px;

  tr {
    color: white;

    &:hover {
      background-color: #312b29;
    }
  }

  td {
    img {
      width: 40px;
      margin-left: 4px;
    }

    #cantanteCanzoneAlbum {
      &:hover {
        text-decoration: underline;
      }
    }

    #artist_name {
      &:hover {
        text-decoration: underline;
      }
    }

    #riproduzioniAlmbum {
      &:hover+.nascondi {
        display: block;
      }

      .nascondi {
        display: block;
        margin-left: 185px;
      }
    }

    .puntini {
      display: none;

      /* @media screen and(max-width: 480px) {
        display: block;  
        margin-left: 200px; togli classe
    }*/
    }
  }
}

/* .small {
            @media screen and(max-width: 480px) {
                display: none;
            }

            @media screen and(max-width: 1024px) {
                :hover {
                    display: block;
                }
            }*/

.piccola {
  /*  @media screen and(max-width: 480px) {

        display: block;
    }*/
}

.dentro {
  display: none;
}

/*.dentro:hover,
.numeri:hover {
    .numeri {
        display: none;
    }

    .dentro {
        display: block;
    }
}*/

/////////////search////////////////////////////////////
///
///

.noSpace {
  width: 80px;
}

.space {
  width: 300px;
}

#lista_tracce {
  @media screen and(max-width: 480px) {
    width: 100%;
  }
}

/////////////////////artist//////////////////////////////

// .popolariContenitore {
//     display: flex;
//     justify-content: space-between;

.secondoContenitore {
  width: 700px;
}

table {
  width: 90%;

  img {
    width: 25px;
  }
}

p {
  font-weight: bold;
  font-size: 11px;
  margin: 10px;
}

section {
  h6 {
    font-size: 13px;
  }

  img {
    border-radius: 100px;
    width: 50px;
  }
}

// }